- let cuboid = '<div class="cuboid"><div class="side"></div><div class="side"></div><div class="side"></div><div class="side"></div><div class="side"></div><div class="side"></div></div>';

.group
	.content !{cuboid} !{cuboid} !{cuboid} !{cuboid} !{cuboid} !{cuboid} !{cuboid}
		.inner !{cuboid} !{cuboid} !{cuboid} !{cuboid} !{cuboid} !{cuboid}
			.inner !{cuboid} !{cuboid} !{cuboid} !{cuboid} !{cuboid} !{cuboid}
				.inner !{cuboid} !{cuboid} !{cuboid} !{cuboid} !{cuboid} !{cuboid}
					.inner !{cuboid} !{cuboid} !{cuboid} !{cuboid} !{cuboid} !{cuboid}
						.inner !{cuboid} !{cuboid} !{cuboid} !{cuboid} !{cuboid} !{cuboid}
							.inner !{cuboid} !{cuboid} !{cuboid} !{cuboid} !{cuboid} !{cuboid}
								.inner !{cuboid} !{cuboid} !{cuboid} !{cuboid} !{cuboid} !{cuboid}
									.inner !{cuboid} !{cuboid} !{cuboid} !{cuboid} !{cuboid} !{cuboid}
										.inner !{cuboid} !{cuboid} !{cuboid} !{cuboid} !{cuboid} !{cuboid} !{cuboid}